{% extends 'basic.html' %}
{% from 'macros.html' import form_field %}

{% block content %}

<h1 align="center"> Learning Chinese Characters </h1>
<h2 align="center"> ML Winter Camp Demo </h2>

<hr>

<h4> Please input some chinese characters: </h4>
<form method="post">
    {{ form.csrf_token }}
    <p align="center"> {{ form.string }} </p>
    {{ form.submit(class='btn') }}
</form>

{% if pic_list %}
<h4> Write it down! </h4>

<p>
    {% for pic in pic_list %}
    <img width="100" src={{pic}} />
    {% if (loop.index0 + 1) % 6 == 0 %}
    <br>
    {% endif %}
    {% endfor %}
</p>

{% endif %}

{% endblock %}